<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.obbo.app">

    <application
        android:allowBackup="true"
        android:label="Obbo"
        android:supportsRtl="true"
        android:background="@drawable/bg_gradient"

        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Login Activity avec android:exported -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Register Activity avec android:exported -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"/>

    </application>

</manifest>
